@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome FOLHANA CAGAMELO to the new container world yeahhh</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building LOL apps with ASP.NET Core</a>.</p>
</div>
